@import './open-color.css';

/* BOARD  */

.board {
  width: 400px;
  height: 400px;
  border: 2px solid var(--oc-gray-4);
  margin: 1em 2em 2em 1em;
  display: flex;
  flex-wrap: wrap;
}

.board div {
  width: 10%;
  height: 10%;
  box-sizing: border-box;
  background: var(--oc-gray-1);
  border: 1px solid var(--oc-gray-2);
  cursor: crosshair;
  transition: background-color 100ms ease-in-out;
}

/* Option 1 */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Option 2 */
@keyframes shake {
  from {
    transform: translate(30%, 17%);
  }

  to {
    transform: translate(-30%, -17%);
  }
}

/* SQUARE COLORS */

/* Empty */
.board .empty {
  background-color: var(--oc-gray-1);
}
.board .empty:hover {
  background-color: var(--oc-yellow-2);
}

/* Ship */

.board .ship {
  background-color: var(--oc-indigo-5);
  border: 1px solid var(--oc-indigo-6);
}

.board .ship:hover {
  background-color: var(--oc-indigo-9);
}

/* Hit  */

.board .hit {
  background-color: var(--oc-red-8);
  border: 1px solid var(--oc-red-9);
}

/* Miss */

.board .miss {
  background-color: var(--oc-gray-4);
  border: 1px solid var(--oc-gray-2);
}

/* Sunk ship */

.board .ship-sunk {
  background-color: var(--oc-gray-9);
  border: 1px solid var(--oc-gray-8);
  animation: shake 50ms 6 alternate backwards;
}

/* Forbidden square  */

.board .forbidden {
  background-color: var(--oc-red-2);
  border: 1px solid var(--oc-red-3);
}

.board .verified {
  background-image: url('/verified.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
